<div class="main">
    <h1>Harry Potter & The Prisoner of Azkaban</h1>
    <section>
        <div class="bar">
            <img class="left cover" src="/images/hp.jpeg" alt="Harry Potter">
            <div class="right book">
                <div class="title-bar">
                    <h2>Last Entry</h2>
                    <a href="#" class="add colored"><span class="material-symbols-rounded icon add-icon" title="Edit">edit</span>Edit</a>
                </div>
                <div class="subtext">Entry Date: Jan 1, 1970 | Entry Page: 13 | Book Progress: 4%</div>
                <p class="entry">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo dolor ex labore. Labore, odio est? Qui inventore illum perspiciatis placeat harum impedit! Officiis animi repudiandae ad quaerat culpa eveniet vero reiciendis odio commodi aliquam perferendis ducimus porro expedita, ipsam veritatis aperiam nemo similique sed ullam eum nihil! Sequi, impedit doloribus?</p>
            </div>
        </div>
    </section>
    <section>
        <div class="title-bar">
            <h2>Notes</h2>
            <button class="add colored"><span class="material-symbols-rounded icon add-icon" title="Add">add</span>Add Note</button>
        </div>
        <div class="list">
            <div class="list-item note">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste magni, tenetur vel delectus nisi earum veniam nobis eum ad recusandae necessitatibus ab maiores ipsam commodi porro impedit repudiandae excepturi, atque temporibus illo sed iusto minima maxime voluptas. Cumque temporibus recusandae, delectus nisi quidem perspiciatis architecto cupiditate, ad voluptate at facilis!</p>
                <div class="title-bar">
                    <h4 class="subtext">Entry Date: Jan 1, 1970 | Entry Page: 13 | Book Progress: 4%</h4>
                    <div class="button-group">
                        <button href="#" class="add colored"><span class="material-symbols-rounded icon add-icon" title="Edit">edit</span>Edit</button>
                        <button href="#" class="add colored"><span class="material-symbols-rounded icon add-icon" title="Delete">delete</span>Delete</button>
                    </div>
                </div>
            </div>
            <div class="list-item note">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste magni, tenetur vel delectus nisi earum veniam nobis eum ad recusandae necessitatibus ab maiores ipsam commodi porro impedit repudiandae excepturi, atque temporibus illo sed iusto minima maxime voluptas. Cumque temporibus recusandae, delectus nisi quidem perspiciatis architecto cupiditate, ad voluptate at facilis!</p>
                <div class="title-bar">
                    <h4 class="subtext">Entry Date: Jan 1, 1970 | Entry Page: 13 | Book Progress: 4%</h4>
                    <div class="button-group">
                        <button href="#" class="add colored"><span class="material-symbols-rounded icon add-icon" title="Edit">edit</span>Edit</button>
                        <button href="#" class="add colored"><span class="material-symbols-rounded icon add-icon" title="Delete">delete</span>Delete</button>
                    </div>
                </div>
            </div>
            <div class="list-item note">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste magni, tenetur vel delectus nisi earum veniam nobis eum ad recusandae necessitatibus ab maiores ipsam commodi porro impedit repudiandae excepturi, atque temporibus illo sed iusto minima maxime voluptas. Cumque temporibus recusandae, delectus nisi quidem perspiciatis architecto cupiditate, ad voluptate at facilis!</p>
                <div class="title-bar">
                    <h4 class="subtext">Entry Date: Jan 1, 1970 | Entry Page: 13 | Book Progress: 4%</h4>
                    <div class="button-group">
                        <button href="#" class="add colored"><span class="material-symbols-rounded icon add-icon" title="Edit">edit</span>Edit</button>
                        <button href="#" class="add colored"><span class="material-symbols-rounded icon add-icon" title="Delete">delete</span>Delete</button>
                    </div>
                </div>
            </div>
            <div class="list-item note">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste magni, tenetur vel delectus nisi earum veniam nobis eum ad recusandae necessitatibus ab maiores ipsam commodi porro impedit repudiandae excepturi, atque temporibus illo sed iusto minima maxime voluptas. Cumque temporibus recusandae, delectus nisi quidem perspiciatis architecto cupiditate, ad voluptate at facilis!</p>
                <div class="title-bar">
                    <h4 class="subtext">Entry Date: Jan 1, 1970 | Entry Page: 13 | Book Progress: 4%</h4>
                    <div class="button-group">
                        <button href="#" class="add colored"><span class="material-symbols-rounded icon add-icon" title="Edit">edit</span>Edit</button>
                        <button href="#" class="add colored"><span class="material-symbols-rounded icon add-icon" title="Delete">delete</span>Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="/scripts/book.js"></script>