<div class="main">
    <h1>Harry Potter & The Prisoner of Azkaban</h1>
    <section>
        <div class="bar">
            <img class="left cover" src="/images/hp.jpeg" alt="Harry Potter">
            <div class="right book">
                <h3>Added Date: <span class="colored normal"><%= config.book.added %></span></h3>
                <form class="inputGroup">
                    <input type="number" name="progress" id="progress" placeholder=" " value="<%= config.book.progress %>" autocomplete="off">
                    <label for="progress">Progress (by page number)</label>
                </form>
                <h3>Last Modified Date: <span class="colored normal"><%= config.book.modified %></span></h3>
                <form action="/update" method="post">
                    <h3>Rating: </h3>
                    <div class="rating"><span class="material-symbols-rounded active-icon" title="1">star</span><span class="material-symbols-rounded active-icon" title="2">star</span><span class="material-symbols-rounded active-icon" title="3">star</span><span class="material-symbols-rounded" title="4">star_half</span><span class="material-symbols-rounded" title="5">star</span></div>
                </form>
                <h3>Open Library ID: <span class="colored normal"><%= config.book.olid %></span></h3>
                <form action="/update" method="post">
                    <h3>Favorite: </h3>
                    <div class="add"><span class="material-symbols-rounded favorite<% if (config.book.favorite) { %> active-icon<% } %>" title="favorite">favorite</span></div>
                </form>
            </div>
        </div>
    </section>
    <section>
        <div class="title-bar">
            <h2>Notes</h2>
            <button class="add colored"><span class="material-symbols-rounded icon add-icon" title="Add">add</span>Add Note</button>
        </div>
        <div class="list">
            <div class="list-item note">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste magni, tenetur vel delectus nisi earum veniam nobis eum ad recusandae necessitatibus ab maiores ipsam commodi porro impedit repudiandae excepturi, atque temporibus illo sed iusto minima maxime voluptas. Cumque temporibus recusandae, delectus nisi quidem perspiciatis architecto cupiditate, ad voluptate at facilis!</p>
                <div class="title-bar">
                    <h4 class="subtext">Entry Date: Jan 1, 1970 | Entry Page: 13 | Book Progress: 4%</h4>
                    <div class="button-group">
                        <button href="#" class="add colored"><span class="material-symbols-rounded icon add-icon" title="Edit">edit</span>Edit</button>
                        <button href="#" class="add colored"><span class="material-symbols-rounded icon add-icon" title="Delete">delete</span>Delete</button>
                    </div>
                </div>
            </div>
            <div class="list-item note">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste magni, tenetur vel delectus nisi earum veniam nobis eum ad recusandae necessitatibus ab maiores ipsam commodi porro impedit repudiandae excepturi, atque temporibus illo sed iusto minima maxime voluptas. Cumque temporibus recusandae, delectus nisi quidem perspiciatis architecto cupiditate, ad voluptate at facilis!</p>
                <div class="title-bar">
                    <h4 class="subtext">Entry Date: Jan 1, 1970 | Entry Page: 13 | Book Progress: 4%</h4>
                    <div class="button-group">
                        <button href="#" class="add colored"><span class="material-symbols-rounded icon add-icon" title="Edit">edit</span>Edit</button>
                        <button href="#" class="add colored"><span class="material-symbols-rounded icon add-icon" title="Delete">delete</span>Delete</button>
                    </div>
                </div>
            </div>
            <div class="list-item note">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste magni, tenetur vel delectus nisi earum veniam nobis eum ad recusandae necessitatibus ab maiores ipsam commodi porro impedit repudiandae excepturi, atque temporibus illo sed iusto minima maxime voluptas. Cumque temporibus recusandae, delectus nisi quidem perspiciatis architecto cupiditate, ad voluptate at facilis!</p>
                <div class="title-bar">
                    <h4 class="subtext">Entry Date: Jan 1, 1970 | Entry Page: 13 | Book Progress: 4%</h4>
                    <div class="button-group">
                        <button href="#" class="add colored"><span class="material-symbols-rounded icon add-icon" title="Edit">edit</span>Edit</button>
                        <button href="#" class="add colored"><span class="material-symbols-rounded icon add-icon" title="Delete">delete</span>Delete</button>
                    </div>
                </div>
            </div>
            <div class="list-item note">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste magni, tenetur vel delectus nisi earum veniam nobis eum ad recusandae necessitatibus ab maiores ipsam commodi porro impedit repudiandae excepturi, atque temporibus illo sed iusto minima maxime voluptas. Cumque temporibus recusandae, delectus nisi quidem perspiciatis architecto cupiditate, ad voluptate at facilis!</p>
                <div class="title-bar">
                    <h4 class="subtext">Entry Date: Jan 1, 1970 | Entry Page: 13 | Book Progress: 4%</h4>
                    <div class="button-group">
                        <button href="#" class="add colored"><span class="material-symbols-rounded icon add-icon" title="Edit">edit</span>Edit</button>
                        <button href="#" class="add colored"><span class="material-symbols-rounded icon add-icon" title="Delete">delete</span>Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="/scripts/book.js"></script>