<div class="main">
    <h1>Dashboard</h1>

    <div class="carousel">
        <div class="title">
            <h2>My Books</h2>
            <div class="add">Add</div>
        </div>
        <div class="slides">
            <div class="slide">
                <img src="" alt="Image">
                <p class="image-label">Harry Potter</p>
            </div>
            <div class="slide">
                <img src="" alt="Image">
                <p class="image-label">Harry Potter</p>
            </div>
            <div class="slide">
                <img src="" alt="Image">
                <p class="image-label">Harry Potter</p>
            </div>
            <div class="slide">
                <img src="" alt="Image">
                <p class="image-label">Harry Potter</p>
            </div>
            <div class="slide">
                <img src="" alt="Image">
                <p class="image-label">Harry Potter</p>
            </div>
            <div class="slide">
                <img src="" alt="Image">
                <p class="image-label">Harry Potter</p>
            </div>
            <div class="slide">
                <img src="" alt="Image">
                <p class="image-label">Harry Potter</p>
            </div>
            <div class="slide">
                <img src="" alt="Image">
                <p class="image-label">Harry Potter</p>
            </div>
        </div>
    </div>
</div>