<div class="main">
    <h1><%= config.user.username %>'s Favorites</h1>
    <section>
        <div class="slides">
            <a href="/book/<%= 'book-id' %>" class="slide">
                <img class="cover" src="/images/hobit.jpeg" alt="Image">
                <p class="image-label">The Hobbit: An Unexpected Journey</p>
            </a>
            <a href="#" class="slide">
                <img class="cover" src="/images/lotr.jpeg" alt="Image">
                <p class="image-label">The Lord of The Rings: Fellowship of the Ring</p>
            </a>
            <a href="#" class="slide">
                <img class="cover" src="/images/hp.jpeg" alt="Image">
                <p class="image-label">Harry Potter & The Prisoner of Azkaban</p>
            </a>
            <a href="#" class="slide">
                <img class="cover" src="/images/hobit.jpeg" alt="Image">
                <p class="image-label">The Hobbit: The Desolation of Smaug</p>
            </a>
            <a href="#" class="slide">
                <img class="cover" src="/images/lotr.jpeg" alt="Image">
                <p class="image-label">The Lord of the Rings: The Two Towers</p>
            </a>
            <a href="#" class="slide">
                <img class="cover" src="/images/hobit.jpeg" alt="Image">
                <p class="image-label">The Hobbit</p>
            </a>
            <a href="#" class="slide">
                <img class="cover" src="/images/hp.jpeg" alt="Image">
                <p class="image-label">Harry Potter</p>
            </a>
            <a href="#" class="slide">
                <img class="cover" src="/images/lotr.jpeg" alt="Image">
                <p class="image-label">Lord of the Rings</p>
            </a>
        </div>
    </section>
</div>