<div class="main">
    <h1><%= config.user.username %>'s Favorites</h1>
    <section>
        <div class="slides">
            <% books.forEach(book => { %>
                <a href="/book/<%= book.id %>" class="slide">
                    <img class="cover" src="https://covers.openlibrary.org/b/id/<%= book.olid %>-M.jpg" alt="Image">
                    <p class="image-label"><%= book.title %></p>
                </a>
            <% }) %>
        </div>
    </section>
</div>