<%- include('partials/header.ejs') %>

<div class="sidebar">
    <a class="bar-item side-menu">
        <span class="material-symbols-rounded">menu</span>
        <p class="label hidden">Menu</p>
    </a>
    <a href="/" class="bar-item">
        <span class="material-symbols-rounded">download</span>
        <p class="label hidden">Library</p>
    </a>
    <a href="/" class="bar-item">
        <span class="material-symbols-rounded">dark_mode</span>
        <p class="label hidden">Favorites</p>
    </a>
    <a href="/" class="bar-item last">
        <span class="material-symbols-rounded">home</span>
        <p class="label hidden">Home</p>
    </a>
</div>

<%- include(page) %>

<script src="/scripts/home.js"></script>

<%- include('partials/footer.ejs') %>