<%- include('partials/header.ejs', { user: user }) %>

<div class="sidebar">
    <a class="bar-item side-menu">
        <span class="material-symbols-rounded icon">menu</span>
        <p class="label hidden">Menu</p>
    </a>
    <a href="/" class="bar-item">
        <span class="material-symbols-rounded icon">newsstand</span>
        <p class="label hidden">Library</p>
    </a>
    <a href="/" class="bar-item">
        <span class="material-symbols-rounded icon">favorite</span>
        <p class="label hidden">Favorites</p>
    </a>
    <% if (locals.user.loggedin) { %>
        <a href="/logout" title="Logout" class="bar-item">
            <span class="material-symbols-rounded icon">logout</span>
            <p class="label hidden"><%= locals.user.username %></p>
        </a>
    <% } else { %>
        <a href="/login" title="Login" class="bar-item">
            <span class="material-symbols-rounded icon">login</span>
            <p class="label hidden">Login</p>
        </a>
    <% } %>
    <a href="/" class="bar-item">
        <span class="material-symbols-rounded icon">home</span>
        <p class="label hidden">Home</p>
    </a>
</div>

<%- include(page) %>

<script src="/scripts/home.js"></script>

<%- include('partials/footer.ejs') %>