<div class="main">
    <h1><%= config.user.username %>'s Library</h1>
    <section>
        <div class="title-bar">
            <h2>All Books</h2>
            <div class="button-group">
                <div class="sort">
                    <div class="add colored sort-btn"><span class="material-symbols-rounded icon add-icon" title="Add">sort</span>Sort</div>
                    <form method="get" action="/library" class="sort-menu hidden">
                        <% if (config.order === "date") { %>
                            <input type="submit" name="order" value="date" id="date" disabled/>
                            <input type="submit" name="order" value="rating" id="rating"/>
                            <label class="colored" for="date"><span class="material-symbols-rounded">check_small</span>By Recency</label>
                            <label for="rating">By Rating</label>
                        <% } else { %>
                            <input type="submit" name="order" value="date" id="date"/>
                            <input type="submit" name="order" value="rating" id="rating" disabled/>
                            <label for="date">By Recency</label>
                            <label class="colored" for="rating"><span class="material-symbols-rounded">check_small</span>By Rating</label>
                        <% } %>
                        
                    </form>
                </div>
                <a href="/add" class="add colored"><span class="material-symbols-rounded icon add-icon" title="Add">add</span>Add</a>
            </div>
        </div>
        <div class="slides">
            <a href="/book/<%= 'book-id' %>" class="slide">
                <img class="cover" src="/images/hobit.jpeg" alt="Image">
                <p class="image-label">The Hobbit: An Unexpected Journey</p>
            </a>
            <a href="#" class="slide">
                <img class="cover" src="/images/lotr.jpeg" alt="Image">
                <p class="image-label">The Lord of The Rings: Fellowship of the Ring</p>
            </a>
            <a href="#" class="slide">
                <img class="cover" src="/images/hp.jpeg" alt="Image">
                <p class="image-label">Harry Potter & The Prisoner of Azkaban</p>
            </a>
            <a href="#" class="slide">
                <img class="cover" src="/images/hobit.jpeg" alt="Image">
                <p class="image-label">The Hobbit: The Desolation of Smaug</p>
            </a>
            <a href="#" class="slide">
                <img class="cover" src="/images/lotr.jpeg" alt="Image">
                <p class="image-label">The Lord of the Rings: The Two Towers</p>
            </a>
            <a href="#" class="slide">
                <img class="cover" src="/images/hobit.jpeg" alt="Image">
                <p class="image-label">The Hobbit</p>
            </a>
            <a href="#" class="slide">
                <img class="cover" src="/images/hp.jpeg" alt="Image">
                <p class="image-label">Harry Potter</p>
            </a>
            <a href="#" class="slide">
                <img class="cover" src="/images/lotr.jpeg" alt="Image">
                <p class="image-label">Lord of the Rings</p>
            </a>
        </div>
    </section>
</div>

<script src="/scripts/library.js"></script>
