<div class="main">
    <h1><%= config.user.username %>'s Library</h1>
    <section>
        <div class="title-bar">
            <h2>All Books</h2>
            <div class="button-group">
                <div class="sort">
                    <div class="add colored sort-btn"><span class="material-symbols-rounded icon add-icon" title="Sort">sort</span>Sort</div>
                    <form method="get" action="/library" class="sort-menu hidden">
                        <% if (config.order === "date") { %>
                            <input type="submit" name="order" value="date" id="date" disabled/>
                            <input type="submit" name="order" value="rating" id="rating"/>
                            <label class="colored" for="date"><span class="material-symbols-rounded">check_small</span>By Recency</label>
                            <label for="rating">By Rating</label>
                        <% } else { %>
                            <input type="submit" name="order" value="date" id="date"/>
                            <input type="submit" name="order" value="rating" id="rating" disabled/>
                            <label for="date">By Recency</label>
                            <label class="colored" for="rating"><span class="material-symbols-rounded">check_small</span>By Rating</label>
                        <% } %>
                        
                    </form>
                </div>
                <a href="/add" class="add colored"><span class="material-symbols-rounded icon add-icon" title="Add">add</span>Add</a>
            </div>
        </div>
        <div class="slides">
            <% books.forEach(book => { %>
                <a href="/book/<%= book.id %>" class="slide">
                    <img class="cover" src="https://covers.openlibrary.org/b/id/<%= book.olid %>-M.jpg" alt="Image">
                    <p class="image-label"><%= book.title %></p>
                </a>
            <% }) %>
        </div>
    </section>
</div>

<script src="/scripts/library.js"></script>
