<div class="main">
    <h1>Add New Book</h1>
    <section>
        <form action="/add" method="post" class="title-bar">
            <!-- <input type="text" name="search" id="search" placeholder="Book Name Here..."> -->
            <div class="inputGroup">
                <input type="text" name="name" id="name" placeholder=" " autocomplete="off">
                <label for="name">Book Name</label>
            </div>
            <input type="submit" value="" id="sub" class="hidden">
            <label for="sub" class="add colored"><span class="material-symbols-rounded icon" title="Search">search</span>Search</label>
        </form>
    </section>
    <% if (locals.result) { %>
    <section>
        <% if (locals.result.length == 0) { %>
        <h2>No Search Results</h2>
        <% } else { %>
        <h2>Search Results</h2>
        <div class="slides">
            <a href="/book/<%= 'book-id' %>" class="slide">
                <img class="cover" src="/images/hobit.jpeg" alt="Image">
                <p class="image-label"><%= locals.result[0] %></p>
            </a>
            <form method="post" action="/" class="slide">
                <img class="cover" src="/images/lotr.jpeg" alt="Image">
                <p class="image-label">The Lord of The Rings: Fellowship of the Ring</p>
                <input type="submit" name="olid" value="OLID" id="olid" class="hidden">
                <label for="olid" class="add colored"><span class="material-symbols-rounded icon" title="Add">add</span></label>
            </form>
        </div>
        <% } %>
    </section>
    <% } %>
</div>